<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="https://starclinch.com/images/favicon.png" />

    <title>404 Not Found - StarClinch</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<!-- add google review css -->
	<link href="css/review.css" rel="stylesheet">
	
	<!-- Add favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
	
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-110169660-3', 'auto');
    ga('send', 'pageview');
    </script>
	
	
<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_org'] = 'BR041';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
    g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
    o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
    g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
    g.consent=function(a){g("consent",!arguments.length||a)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(){};
})(window,document,window['_fs_namespace'],'script','user');
</script>

  </head>

  <body style="height: 100vh">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href=""><img id="site-logo" src="img/logo.svg"/></a>
         <div class="navbar-header pull-right">
          <ul class="nav pull-left">
            <!-- This works well for static text, like a username -->
            <li class="navbar-text pull-left">
              <a class="nav-link text-white js-scroll-trigger" href="#" onclick="return false;"><span id="clientName"></span></a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead bg-primary text-white text-center h-100" id="hero">
      <div class="container">
        
        <h1 class="font-weight-light mb-0">
          Not Found!        
        </h1>
        <hr class="star-light">
        <h3 class="font-weight-light mb-0">
          Looks like you clicked on a wrong link. <br/><br/><a href="https://starclinch.com" class="btn bg-secondary text-light">Click here to go home!</a>
        </h3>
      </div>
    </header>
	
	
<section>
  <div class="row text-center ">
     <div class="text-center m-auto">
        <h1 class="text-black"> 6000+ Users trust StarClinch. </h1>
     </div>
  </div>
</section>
	
<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <div class="footer-copyright text-center py-3">
        <img class="site-logo" src="img/logo.svg" /><br/>
    </div>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">FOR BUYERS</h5>

        <ul class="list-unstyled">
          <li class="mb-1">
              <a href="https://starclinch.com/our-partners/">Our Buyers</a>
            </li>
            <li class="mb-1">
              <a href="https://starclinch.com/browse">Browse</a>
            </li>
            <li class="mb-1">
              <a href="https://starclinch.com/book/#category">Post Your Requirement</a>
            </li>
            <li class="mb-1">
              <a href="https://starclinch.com/entertainment-on-emi/">Entertainment on EMI</a>
          </li>
        </ul>
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">ABOUT US</h5>

        <ul class="list-unstyled">
          <li class="mb-1">
            <a href="https://starclinch.com/our-story">Our Story
            </a>
          </li>
          <li class="mb-1">
            <a href="https://angel.co/starclinchcompany/jobs">Careers</a>
          </li>
           
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">FOR ARTISTS</h5>

        <ul class="list-unstyled">
          <li class="mb-1">
            <a href="https://starclinch.com/login">Login</a>
          </li>
          <li class="mb-1">
            <a href="https://starclinch.com/artist-register">Artist SignUp</a>
          </li>
          <li class="mb-1">
            <a href="https://starclinch.com/artist-subscriptions">Artist Subscriptions</a>
          </li>
          <li class="mb-1">
              &#8205;
          </li>
        </ul>
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">POLICY</h5>

        <ul class="list-unstyled">
          <li class="mb-1">
            <a href="https://starclinch.com/privacy-policy">Privacy Policy</a>
          </li>
          <li class="mb-1">
            <a href="https://starclinch.com/terms-of-use">Terms of Use</a>
          </li>
          <li class="mb-1">
            <a href="https://starclinch.com/disclaimer">Disclaimer</a>
          </li>
          <li class="mb-1">
              <a href="https://starclinch.com/faqs">FAQs</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">REGISTERED OFFICE ADDRESS:</h5>

        <ul class="list-unstyled">
          <li class="mb-1">
            VINSM Globe Private Limited<br>
            Percept House, Ground Floor<br>
            East of Kailash, New Delhi<br>
            CIN: U52605DL2012PTC236944<br>
            Phone: +91 11 498 498 01<br>
          </li>
          <li class="mb-1">
            <a href="https://starclinch.com/contact-us">Contact Us</a>
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

      <!-- Google reviews code -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">Google Reviews</h5>
        <ul class="list-unstyled">
          <li>
		  <div id="google-reviews"></div>
          </li>
        </ul>
      
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <img src="img/payment.png" /><br/>
    © Copyright 2015-19 | <a href="https://starclinch.com">VINSM Globe Pvt. Ltd.</a> | All Rights Reserved.
  </div>
  <div class="footer-copyright text-center py-3">
  </div>
  <div class="footer-copyright text-center py-3">
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    
    

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>
	<!-- add google review js -->
    <script src="js/googlereview.js"></script>
	
    
  </body>

</html>
