<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="https://starclinch.com/images/favicon.png" />

    <title>Shortlist Artists - StarClinch</title>
 
    <meta property="og:title" content="Shortlist Artists - StarClinch" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://book.starclinch.com" />
    <meta property="og:image" content="img/favicon.ico" />
    <meta property="og:description" content="" />
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- Add favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
	
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
   
  </head>

  <body id="page-top" style="height: 100vh">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img id="site-logo" src="img/logo.svg"/></a>
         <div class="navbar-header pull-right">
          <ul class="nav pull-left">
            <!-- This works well for static text, like a username -->
            <li class="navbar-text pull-left">
              <a class="nav-link text-white js-scroll-trigger" href="#" onclick="return false;"><span id="clientName"></span></a>
            </li>            
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead bg-primary text-white text-center h-100" id="hero">
      <div class="container">
        <h1 class="font-weight-light mb-0">
          Book Your Favorite Artists!        
        </h1>
        <hr class="star-light">
        <h3 class="font-weight-light mb-0">
          Send us your event requirements, and then you can shortlist artists :) 
          <br/><br/>
          <a href="https://starclinch.com/book" class="btn btn-lg bg-secondary text-light">Submit a requirement!</a>
        </h3>
      </div>
    </header>
	
	<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <div class="footer-copyright text-center py-3">
        <img class="site-logo" src="img/logo.svg" /><br/>
    </div>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">FOR BUYERS</h5>

        <ul class="list-unstyled">
          <li>
              <a href="https://starclinch.com/our-partners/">Our Buyers</a>
            </li>
            <li>
              <a href="https://starclinch.com/browse">Browse</a>
            </li>
            <li>
              <a href="https://starclinch.com/book/">Post Your Requirement</a>
            </li>
            <li>
              <a href="https://starclinch.com/entertainment-on-emi/">Entertainment on EMI</a>
          </li>
        </ul>
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">ABOUT US</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://starclinch.com/our-story">Our Buyers</a>
          </li>
          <li>
            <a href="https://angel.co/starclinchcompany/jobs">Browse</a>
          </li>
           
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">FOR ARTISTS</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://starclinch.com/login">Login</a>
          </li>
          <li>
            <a href="https://starclinch.com/artist-register">Artist SignUp</a>
          </li>
          <li>
            <a href="https://starclinch.com/artist-subscriptions">Artist Subscriptions</a>
          </li>
        </ul>
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">POLICY</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://starclinch.com/privacy-policy">Privacy Policy</a>
          </li>
          <li>
            <a href="https://starclinch.com/terms-of-use">Terms of Use</a>
          </li>
          <li>
            <a href="https://starclinch.com/disclaimer">Disclaimer</a>
          </li>
          <li>
              <a href="https://starclinch.com/faqs">FAQs</a>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">REGISTERED OFFICE ADDRESS:</h5>

        <ul class="list-unstyled">
          <li>
            VINSM Globe Private Limited<br>
            Percept House, Ground Floor<br>
            East of Kailash, New Delhi<br>
            CIN: U52605DL2012PTC236944<br>
            Phone: +91 11 498 498 01<br>
          </li>
          <li>
            <a href="https://starclinch.com/contact-us">Contact Us</a>
          </li>
          <li>
            <a href="https://starclinch.com/#">Talk To Us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-3">Google Reviews</h5>

        <ul class="list-unstyled">
          <li>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <img src="img/payment.png" /><br/>
    © Copyright 2015-19 | <a href="https://starclinch.com">VINSM Globe Pvt. Ltd.</a> | All Rights Reserved.
  </div>
  <div class="footer-copyright text-center py-3">
  </div>
  <div class="footer-copyright text-center py-3">
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    
    
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>
    
  </body>

</html>
